<div class="container-fluid">
  <h2>Our Services</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Book Slots for Vaccination</h5>
            <p class="card-text">Admin has to book slot for a particular Citizen for vaccination.</p>
            <button type="button" class="btn btn-primary" (click)="bookSlot()">Book Slots for Citizen</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Vaccination Center</h5>
            <p class="card-text">Admin is responsible for adding the vaccination centers.</p>
            <button type="button" class="btn btn-primary" (click)="addCenter()">Add Center</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View Vaccination Center</h5>
            <p class="card-text">Displays the list of available vaccination centers.</p>
            <button type="button" class="btn btn-primary" (click)="viewCenter()">
              View Vaccination Center</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View Citizens List</h5>
            <p class="card-text">Displays the list of citizens who had already booked their slots.</p>
            <button type="button" class="btn btn-primary" (click)="viewCitizensList()">
              View List</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>